<?php

declare(strict_types=1);

/*
 * LoyaltyApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace LoyaltyApIsLib\Apis;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use LoyaltyApIsLib\Exceptions\JsonApiErrorException;
use LoyaltyApIsLib\Http\ApiResponse;
use LoyaltyApIsLib\Models\AuthTokenRequest;
use LoyaltyApIsLib\Models\AuthTokenResponse;
use LoyaltyApIsLib\Models\ExchangeAccessCodeRequest;
use LoyaltyApIsLib\Models\M200UserPartners;
use LoyaltyApIsLib\Models\RefreshTokenRequest;
use LoyaltyApIsLib\Models\RefreshTokenResponse;

class AuthorizationApi extends BaseApi
{
    /**
     * When partner wants to get the basic public token, to be authorized to perform any other call inside
     * SSO, needs to call this endpoint
     *
     * @param AuthTokenRequest $body Digest data generated using sha256(client_id)
     *
     * @return ApiResponse Response from the API call
     */
    public function getAuthorizationToken(AuthTokenRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/api/v2/auth/token')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request. If the request is missing the digest field',
                    JsonApiErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized. If the digest provided is not valid', JsonApiErrorException::class)
            )
            ->throwErrorOn('500', ErrorType::init('Any unexpected error', JsonApiErrorException::class))
            ->type(AuthTokenResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * This endpoint allows to given an access code to retrieve an user profile with a pair of valid tokens.
     * In this end point, accessCode can be exchanged for an accessToken which is user-authorization-token.
     *
     * @param string $authorization Basic Public token which was generated with auth/token end
     *        point.
     * @param ExchangeAccessCodeRequest $body Exchange access code data
     *
     * @return ApiResponse Response from the API call
     */
    public function exchangeAccessCode(string $authorization, ExchangeAccessCodeRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/api/v2/auth/exchangeAccessCode')
            ->auth('PublicBasicToken')
            ->parameters(
                HeaderParam::init('Authorization', $authorization)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)->required()
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'Unauthorized. If making the call with an invalid token',
                    JsonApiErrorException::class
                )
            )
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'Not found. If the access code is not in the database',
                    JsonApiErrorException::class
                )
            )
            ->throwErrorOn('500', ErrorType::init('Any unexpected error', JsonApiErrorException::class))
            ->type(M200UserPartners::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * When an access token has expired, a partner that wants to get a new pair of valid tokens to go on
     * performing operations against SSO needs to call this endpoint.
     *
     * @param string $authorization Basic Public token which was generated with auth/token end
     *        point.
     * @param RefreshTokenRequest|null $body
     *
     * @return ApiResponse Response from the API call
     */
    public function refresh(string $authorization, ?RefreshTokenRequest $body = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/api/v2/auth/token/refresh')
            ->parameters(
                HeaderParam::init('Authorization', $authorization)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request. The request is missing the Refresh Token field.',
                    JsonApiErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'Unauthorized. This response is generated when either the Basic Token is in' .
                    'valid or the Refresh Token is invalid (see examples)',
                    JsonApiErrorException::class
                )
            )
            ->throwErrorOn('500', ErrorType::init('Any unexpected error', JsonApiErrorException::class))
            ->type(RefreshTokenResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
