<?php

declare(strict_types=1);

/*
 * LoyaltyApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace LoyaltyApIsLib\Apis;

use Core\Authentication\Auth;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use LoyaltyApIsLib\Exceptions\ConsumersBalances400ErrorException;
use LoyaltyApIsLib\Exceptions\ConsumersBalances401ErrorException;
use LoyaltyApIsLib\Exceptions\ConsumersBalances404ErrorException;
use LoyaltyApIsLib\Exceptions\ConsumersBalances422ErrorException;
use LoyaltyApIsLib\Http\ApiResponse;
use LoyaltyApIsLib\Models\AssignOfferChannel;
use LoyaltyApIsLib\Models\CustomerBalances;
use LoyaltyApIsLib\Server;

class BalancesApi extends BaseApi
{
    /**
     * Retrieve the customer's loyalty point balance
     *
     * @param string $languageCode This is a concatenation of language in lower case as per ISO
     *        639-1 , “-” and country code as per ISO 3166-1 alpha-2.
     * @param string $userAuthorizationToken The value of the accessToken retrieved from the
     *        /auth/exchangeAccessCode endpoint. This is referred to as user-authorization-token
     *        where the access is provided by the end user.
     * @param string $consumerUuid SSO uuid of the user signed in with Shell credentials Format: 32
     *        hexadecimal digits grouped the following way: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
     * @param string $countryCode The two character ISO 3166-1 alpha-2 [country
     *        code](https://www.iso.org/iso-3166-country-codes.html).
     * @param string|null $xCorrelationId An unique ID in GUID format in order to track the request.
     * @param string|null $channel Channel.
     * @param string|null $application String
     *
     * @return ApiResponse Response from the API call
     */
    public function getBalanceByUuid(
        string $languageCode,
        string $userAuthorizationToken,
        string $consumerUuid,
        string $countryCode,
        ?string $xCorrelationId = null,
        ?string $channel = null,
        ?string $application = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/consumers/balances')
            ->server(Server::SHELL1)
            ->auth(Auth::and('customerHeader', 'client-authorization-token'))
            ->parameters(
                QueryParam::init('language_code', $languageCode)->required(),
                HeaderParam::init('user-authorization-token', $userAuthorizationToken)->required(),
                HeaderParam::init('consumerUUID', $consumerUuid)->required(),
                HeaderParam::init('country-code', $countryCode)->required(),
                HeaderParam::init('x-correlation-id', $xCorrelationId),
                HeaderParam::init('channel', $channel)->serializeBy([AssignOfferChannel::class, 'checkValue']),
                HeaderParam::init('application', $application)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad request - The request was not valid. This code is returned when the se' .
                    'rver has attempted to process the request, but some aspect of the request i' .
                    's not valid, for example an incorrectly formatted resource or an attempt to' .
                    ' deploy an invalid event project to the event runtime. Information about th' .
                    'e request is provided in the response body, and includes an error code and ' .
                    'error message.',
                    ConsumersBalances400ErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    "Unauthorized request, Missing Authorization header, or expired authorizati" .
                    "on token etc. It is returned from the application server \nwhen application" .
                    " security is enabled, and authorization information was missing from the re" .
                    "quest.\n",
                    ConsumersBalances401ErrorException::class
                )
            )
            ->throwErrorOn(
                '404',
                ErrorType::init(
                    'Not found - the server can not find the requested resource.',
                    ConsumersBalances404ErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    "Unprocessable Entity (WebDAV). If you are receiving an HTTP 422 - Unproces" .
                    "sable Entity error, \nthere are several possibilities for why it might be o" .
                    "ccurring-<br>\n - You are sending in a payload that is not valid JSON. <br>" .
                    " \n - You are sending HTTP headers, such as Content-Type or Accept, which s" .
                    "pecify a value other than application/json. <br>\n - The request may be val" .
                    "id JSON, but there is something wrong with the content. \n",
                    ConsumersBalances422ErrorException::class
                )
            )
            ->throwErrorOn(
                '429',
                ErrorType::init('Rate limit hit. See the Retry-After header to specify a delay, but note that t' .
                'here is no guarantee that subsequent requests won\'t be limited.')
            )
            ->throwErrorOn(
                '500',
                ErrorType::init('Internal error - the server encountered an unexpected condition that prevented' .
                ' it from fulfilling the request.')
            )
            ->type(CustomerBalances::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
