<?php

declare(strict_types=1);

/*
 * LoyaltyApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace LoyaltyApIsLib\Apis;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use LoyaltyApIsLib\Exceptions\CommonErrorException;
use LoyaltyApIsLib\Http\ApiResponse;
use LoyaltyApIsLib\Models\AssignOfferChannel;
use LoyaltyApIsLib\Models\Offer;
use LoyaltyApIsLib\Models\OfferAssignment;
use LoyaltyApIsLib\Server;

class OfferApi extends BaseApi
{
    /**
     * Assigning a partner based offer to a customer by the partner
     *
     * @param string $languageCode This is a concatenation of language in lower case as per ISO
     *        639-1 , “-” and country code as per ISO 3166-1 alpha-2.
     * @param string $userAuthorizationToken The value of the `accessToken` retrieved from the
     *        `/auth/exchangeAccessCode` endpoint. This is referred to as user-authorization-token
     *        where the access is provided by the end user.
     * @param string $countryCode Two character ISO 3166-1 alpha-2 country code.
     * @param string|null $xCorrelationId An unique ID in GUID format in order to track the request.
     * @param string|null $channel Channel.
     * @param string|null $application String
     * @param OfferAssignment|null $body assign offer to customer
     *
     * @return ApiResponse Response from the API call
     */
    public function assignPartnerOffer(
        string $languageCode,
        string $userAuthorizationToken,
        string $countryCode,
        ?string $xCorrelationId = null,
        ?string $channel = null,
        ?string $application = null,
        ?OfferAssignment $body = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/consumers/offers')
            ->server(Server::SHELL1)
            ->auth('client-authorization-token')
            ->parameters(
                QueryParam::init('language_code', $languageCode)->required(),
                HeaderParam::init('user-authorization-token', $userAuthorizationToken)->required(),
                HeaderParam::init('country-code', $countryCode)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                HeaderParam::init('x-correlation-id', $xCorrelationId),
                HeaderParam::init('channel', $channel)->serializeBy([AssignOfferChannel::class, 'checkValue']),
                HeaderParam::init('application', $application),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad request as certain mandatory parameters were not provided by the clien' .
                    't in the request.',
                    CommonErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'Unauthorized request, Missing Authorization header, or expired authorization token.',
                    CommonErrorException::class
                )
            )
            ->throwErrorOn('404', ErrorType::init('Offer/Customer does not exist.', CommonErrorException::class))
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'All offer assignment based error what it caused by the "Offer"',
                    CommonErrorException::class
                )
            )
            ->throwErrorOn(
                '429',
                ErrorType::init("Rate limit hit. See Retry-After header for a minimum amount of delay, but note" .
                " that there is no guarantee\nthat subsequent request won't be limited.\n")
            )
            ->throwErrorOn('500', ErrorType::init('Internal server error'))
            ->type(Offer::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Revoking a partner based offer from customer by Partner.
     *
     * @param string $languageCode This is a concatenation of language in lower case as per ISO
     *        639-1 , “-” and country code as per ISO 3166-1 alpha-2.
     * @param string $userAuthorizationToken The value of the `accessToken` retrieved from the
     *        `/auth/exchangeAccessCode` endpoint. This is referred to as user-authorization-token
     *        where the access is provided by the end user.
     * @param string $clientAuthorizationToken The value of the `accessToken` retrieved from the
     *        `/oauth/token` endpoint. This is client authorization between Shell and Partner
     *        system.
     * @param string $countryCode Two character ISO 3166-1 alpha-2 country code.
     * @param string $consumerUuid SSO uuid of the user signed in with Shell credentials.
     * @param string $partnerReferenceId Unique Reference ID for the transaction which was used when
     *        assigning the offer from the partner in Assign Offer API
     * @param string|null $xCorrelationId An unique ID in GUID format in order to track the request.
     * @param string|null $channel Channel.
     * @param string|null $application String
     *
     * @return ApiResponse Response from the API call
     */
    public function revokePartnerOffer(
        string $languageCode,
        string $userAuthorizationToken,
        string $clientAuthorizationToken,
        string $countryCode,
        string $consumerUuid,
        string $partnerReferenceId,
        ?string $xCorrelationId = null,
        ?string $channel = null,
        ?string $application = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/consumers/offers')
            ->server(Server::SHELL1)
            ->auth('client-authorization-token')
            ->parameters(
                QueryParam::init('language_code', $languageCode)->required(),
                HeaderParam::init('user-authorization-token', $userAuthorizationToken)->required(),
                HeaderParam::init('client-authorization-token', $clientAuthorizationToken)->required(),
                HeaderParam::init('country-code', $countryCode)->required(),
                HeaderParam::init('consumerUUID', $consumerUuid)->required(),
                HeaderParam::init('partnerReferenceId', $partnerReferenceId)->required(),
                HeaderParam::init('x-correlation-id', $xCorrelationId),
                HeaderParam::init('channel', $channel)->serializeBy([AssignOfferChannel::class, 'checkValue']),
                HeaderParam::init('application', $application)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad request as certain mandatory parameters were not provided by the clien' .
                    't in the request.',
                    CommonErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'Unauthorized request, Missing Authorization header, or expired authorization token.',
                    CommonErrorException::class
                )
            )
            ->throwErrorOn('404', ErrorType::init('Offer/Customer does not exist.', CommonErrorException::class))
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'All offer assignment based error what it caused by the "Offer"',
                    CommonErrorException::class
                )
            )
            ->throwErrorOn(
                '429',
                ErrorType::init("Rate limit hit. See Retry-After header for a minimum amount of delay, but note" .
                " that there is no guarantee\nthat subsequent request won't be limited.\n")
            )
            ->throwErrorOn('500', ErrorType::init('Internal server error'))
            ->type(Offer::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
