<?php

declare(strict_types=1);

/*
 * LoyaltyApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace LoyaltyApIsLib\Apis;

use Core\Request\Parameters\HeaderParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use LoyaltyApIsLib\Exceptions\JsonApiErrorException;
use LoyaltyApIsLib\Http\ApiResponse;
use LoyaltyApIsLib\Models\AccessCodeResponse;

class ProfileManagementApi extends BaseApi
{
    /**
     * This endpoint allows get the Access Code from * /api/v2/auth/accessCode* endpoint. Use the
     * *accessToken* obtained using * /api/v2/auth/exchangeAccessCode* as Bearer in the Authorization
     * header.
     *
     * @param string $xSsoMarket A combination of [language
     *        code](https://www.iso.org/standard/22109.html) (lower case) and [country code](https:
     *        //www.iso.org/iso-3166-country-codes.html) (upper case), separated by a hyphen. For
     *        example: **en-TH**.
     * @param array $authorization The input value is **Bearer {{accessToken}}**. The value of
     *        *accessToken* is retrieved from the * /auth/exchangeAccessCode* endpoint.
     *
     * @return ApiResponse Response from the API call
     */
    public function accessCode(string $xSsoMarket, array $authorization): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/api/v2/auth/accessCode')
            ->parameters(
                HeaderParam::init('x-sso-market', $xSsoMarket)->required(),
                HeaderParam::init('Authorization', $authorization)->required()
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('401', ErrorType::init('Unauthorized'))
            ->throwErrorOn('500', ErrorType::init('Any unexpected error', JsonApiErrorException::class))
            ->type(AccessCodeResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
