<?php

declare(strict_types=1);

/*
 * LoyaltyApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace LoyaltyApIsLib\Apis;

use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use LoyaltyApIsLib\Exceptions\ErrorResponseException;
use LoyaltyApIsLib\Exceptions\ResourceNotFoundErrorException;
use LoyaltyApIsLib\Http\ApiResponse;
use LoyaltyApIsLib\Models\TransactionsResponse;
use LoyaltyApIsLib\Models\TransactionTypeFilter;
use LoyaltyApIsLib\Server;

class TransactionApi extends BaseApi
{
    /**
     * This API is used to fetch and retrieve the list of transactions of a customer.
     *
     * Example cURL request:
     *
     * curl --location 'https://api-test.shell.com/loyalty/v1/consumers/transactionsL?language_code=pl-PL'
     * \
     * --header 'country-code: PL' \
     * --header 'user-authorization-token: Bearer clk6qsn0z000o1rpactbsyu93' \
     * --header 'client-authorization-token: Bearer fmVQg8M2F2NGeI3RE18G8R8luKTk' \
     * --header 'language: en' \
     * --header 'application: PARTNER' \
     * --header 'channel: PARTNER' \
     * --header 'consumerUUID: bd68f27f-80f7-440a-b096-f65155161345'
     *
     *
     * @param string $countryCode This represents the ISO 3166-1 standard Alpha-2 code of the
     *        Country, which is the first two characters of the country code.
     * @param string $consumerUuid This is the consumer's or customer's unique SSO UUID.
     * @param string $userAuthorizationToken This is the consumer's SSO access, which you retrieved
     *        from * /auth/exchangeAccessCode* endpoint prefixed by Bearer.
     * @param string $application This is the calling application.
     * @param string $languageCode This is a concatenation of language in lower case as per ISO
     *        639-1 , “-” and country code as per ISO 3166-1 alpha-2. For example: en-GB.
     * @param string|null $language This is the language in ISO 639-1 2 letter code format.
     * @param array|null $channel Channel.
     * @param int|null $page The page number, which needs to be retrieved.
     * @param int|null $limit The maximum number of resources to be sent across all pages.
     * @param int|null $offset This is used to skip a certain number of resources at the start of
     *        each page.
     * @param int|null $pageSize This is the maximum number of resources to be sent in each page of
     *        the response.
     * @param string|null $transactionType This is the type of the transaction. If the parameter is
     *        empty, it means that “ALL” queries.
     * @param string|null $fromDateTime This is the datetime from which the transaction details are
     *        required.
     * @param string|null $toDateTime This is the datetime until which the transaction details are
     *        required.
     * @param bool|null $filterByPartnerCode This is used to filter the transactions based on
     *        partnerCode. If true, return the transactions related to partnerCode. If false,
     *        return all transactions.
     *
     * @return ApiResponse Response from the API call
     */
    public function getTransactionsL(
        string $countryCode,
        string $consumerUuid,
        string $userAuthorizationToken,
        string $application,
        string $languageCode,
        ?string $language = 'en',
        ?array $channel = PARTNER,
        ?int $page = null,
        ?int $limit = null,
        ?int $offset = null,
        ?int $pageSize = null,
        ?string $transactionType = null,
        ?string $fromDateTime = null,
        ?string $toDateTime = null,
        ?bool $filterByPartnerCode = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/consumers/transactionsL')
            ->server(Server::SHELL2)
            ->auth('client-authorization-token')
            ->parameters(
                HeaderParam::init('country-code', $countryCode)->required(),
                HeaderParam::init('consumerUUID', $consumerUuid)->required(),
                HeaderParam::init('user-authorization-token', $userAuthorizationToken)->required(),
                HeaderParam::init('application', $application)->required(),
                QueryParam::init('language_code', $languageCode)->required(),
                HeaderParam::init('language', $language),
                HeaderParam::init('channel', $channel),
                QueryParam::init('page', $page),
                QueryParam::init('limit', $limit),
                QueryParam::init('offset', $offset),
                QueryParam::init('pageSize', $pageSize),
                QueryParam::init('transactionType', $transactionType)
                    ->serializeBy([TransactionTypeFilter::class, 'checkValue']),
                QueryParam::init('fromDateTime', $fromDateTime),
                QueryParam::init('toDateTime', $toDateTime),
                QueryParam::init('filterByPartnerCode', $filterByPartnerCode)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad request - The request was not valid. This code is returned when the se' .
                    'rver has attempted to process the request, but some aspect of the request i' .
                    's not valid, for example an incorrectly formatted resource or an attempt to' .
                    ' deploy an invalid event project to the event runtime. Information about th' .
                    'e request is provided in the response body and includes an error code and e' .
                    'rror message.',
                    ErrorResponseException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    "Unauthorized request, Missing Authorization header, or expired authorizati" .
                    "on token etc. It is returned from the application server\nwhen application " .
                    "security is enabled, and authorization information was missing from the req" .
                    "uest.\n",
                    ErrorResponseException::class
                )
            )
            ->throwErrorOn('404', ErrorType::init('Not Found.', ResourceNotFoundErrorException::class))
            ->throwErrorOn(
                '422',
                ErrorType::init("'Unprocessable Entity (WebDAV). If you are receiving an HTTP 422 - Unprocessab" .
                "le Entity error, there are several possibilities for why it might be occurring:" .
                " <br><br> -You are sending in a payload that is not valid JSON <br><br> -You ar" .
                "e sending HTTP headers, such as Content-Type or Accept, which specify a value o" .
                "ther than application/json <br><br> -The request may be valid JSON, but there i" .
                "s something wrong with the content.\n")
            )
            ->throwErrorOn(
                '429',
                ErrorType::init("Rate limit hit. See Retry-After header for a minimum amount of delay, but note" .
                " that there is no guarantee\nthat subsequent request won't be limited.\n")
            )
            ->throwErrorOn('500', ErrorType::init('Internal server error.'))
            ->type(TransactionsResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
